div {
    background-image: url("homescreen.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    margin: 0; /* Remove default margin */
    height: 100vh; /* Full height of the viewport */
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    font-family: Arial, sans-serif;
    
  }


  

  button {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #e3e6ed; 
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin: 10px; /* Add space between buttons */
    
  }

  button:hover {
    background-color: #abafb4; /* Darker blue on hover */
  }

  
  .top-right {
    position: absolute; /* Position relative to the body */
    top: 20px; /* Distance from the top */
    right: 550px; /* Distance from the right */
    padding: 10px 20px;
    font-size: 14px;
    background-color: #e3e6ed;
  }